html, body {
  height: 100vh;
  margin: 0px;
}

#app {
  height: 100vh;
}

.header-container {
  height: 20%;
  width: 100%;
  background-color: #C0C5CE;
  margin: 0;
  position: relative;
  float: left;
}

.header-container header {
  height: 100%;
  padding: 0.3em;
}

.header-container header h1 {
  line-height: 100%;
  width: 50vw;
  margin: 0;
  display: inline-block;
  padding: 1% 0 0 1%;
}

.header-container header button {
  float: right;
  margin: 0.7% 2% auto;
  background-color: #FFFFFF;
  border: solid 1px #000000;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.board-container {
  position: relative;
  float: left;
  width: 90%;
  margin: 0 5% 0 5%;
}

.board-container h2,
.board-container h3 {
  display: inline-block;
  margin: 1em 0.1em 1em 0;
}

.board-container .frames {
  position: relative;
  float: left;
  width: 100%;
  padding: 1em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.board-container .frames table {
  border-collapse: collapse;
  display: inline-block;
  margin: 0 0.5em;
}

.board-container .frames table thead tr th,
.board-container .frames table tbody tr td {
  border: solid 1px #000000;
}

.board-container .frames table tbody tr td {
  font-size: 1.5em;
  min-width: 1.7em;
  text-align: center;
}

.board-container .frames table thead tr th {
  background-color: #C0C5CE;
  font-size: 2em;
}

.board-container .frames table thead tr.button-ball th,
.board-container .frames table.active thead tr.button-ball th {
  background-color: #FFFFFF;
  border: 0;
  text-align: center;
  padding: 0.2em;
}

.board-container .frames table thead tr.button-ball th .ball {
  border: solid 1px #000000;
  border-radius: 50%;
  background-color: #000000;
  min-width: 50%;
  min-height: 12vh;
  position: relative;
  float: left;
  height: 50%;
  margin: 0 25%;
}

.board-container .frames table.active thead tr th {
  background-color: #94d0f4;
  cursor: pointer;
}

.board-container .frames table.active thead tr.button-ball th .ball {
  background-color: #94d0f4;
  border-color: #94d0f4;
}

.board-container .frames table thead tr.button-ball th .ball .hole {
  border: solid 1px #FFFFFF;
  border-radius: 50%;
  background-color: #FFFFFF;
  min-width: 15%;
  min-height: 2.5vh;
  position: relative;
  float: right;
  height: 15%;
  margin: 2% 2%;
}

.board-container .frames table thead tr.button-ball th .ball .hole-last {
  clear: both;
  display:block;
}
